@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-transparent rounded-full uppercase 
            text-xs tracking-widest text-gray-500 cursor-pointer transition-all
            hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-xl border-b border-[#242424]
            px-4 py-2 sm:px-6 sm:py-4 text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7A80A]/40
             focus:text-[#F7A80A]/40 hover:border-[#F7A80A]/40
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

.swiper-button-next::after{
    color: #F7AB0A;
}

.swiper-button-prev::after{
    color: #F7AB0A;
}

.swiper-pagination-bullet {
    margin: 5px 0px 5px 0px;
    position: relative;
    top: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #F7AB0A !important;
}
